In [5]:
import pandas as pd
from sqlalchemy import MetaData, Table, Column, String, Float, DateTime, create_engine, text
# Use SQLAlchemy to create an engine connecting to the Lego database. 
meta_store = MetaData()

connection_method = 'mysql+pymysql'
db_usr = 'root'
db_pwd =  'mysql'
db_host = '127.0.0.1'
db_port = '3307' # Default is 3306 for mysql/mariadb, if you ran the scripts in this directory though this should work as is.
db_name = 'lego'

engine = create_engine(f'{connection_method}://{db_usr}:{db_pwd}@{db_host}:{db_port}/{db_name}')

In [13]:
# Read the entire Lego colors table into a DataFrame using read_sql(). Print the DataFrame's head, tail, and shape. 
with engine.connect() as conn:
    lego_df = pd.read_sql('colors', conn)
print(lego_df.head())
print(lego_df.tail())
print(lego_df.shape)

Top five:     id          name     rgb  is_trans
0   -1       Unknown  0033B2         0
1    0         Black  05131D         0
2    1          Blue  0055BF         0
3   10  Bright Green  4B9F4A         0
4  100  Light Salmon  FEBABD         0
Bottom five:        id        name     rgb  is_trans
130    86  Dark Flesh  7C503A         0
131    89  Royal Blue  4C61DB         0
132     9  Light Blue  B4D2E3         0
133    92       Flesh  D09168         0
134  9999  [No Color]  05131D         0
Rows & Columns: (135, 4)

In [14]:
# Use the read_sql() method with a SQL statement to query the name, rgb, and id columns for Legos that are blue. Print the DataFrame's head, tail, and shape.
colors_query = """
SELECT
	name,
    rgb,
    id
FROM
	colors
WHERE
	colors.name REGEXP 'Blue';
"""
with engine.connect() as conn:
    colors_df = pd.read_sql(text(colors_query), conn)
print(colors_df.head())
print(colors_df.tail())
print(colors_df.shape)

                       name     rgb    id
0                      Blue  0055BF     1
1  Glitter Trans-Light Blue  68BCC5  1003
2    Trans Light Royal Blue  B4D4F7  1006
3               Blue-Violet  6874CA   112
4                Metal Blue  7988A1   137
                  name     rgb  id
14  Trans-Very Lt Blue  C1DFF0  43
15         Chrome Blue  6C96BF  61
16         Medium Blue  5A93DB  73
17          Royal Blue  4C61DB  89
18          Light Blue  B4D2E3   9
(19, 3)